<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Compare Files</title>
</head>
<body>
<style>
    ul{
        list-style-type: none;
        padding: 0 0 0 0;
    }
    .compare {
        background-color: darkgray;
        color: white;
        padding: 9px 45px;
        position: relative;
        text-decoration: none;
    }
</style>
<div class="compare-box">
    <h3>Compare Files</h3>
    <form method="GET" th:action="@{/compare}" name="compareFiles">
        <ul th:name="elements">
            <li th:each="element : ${compare}">
                <span th:utext="${element}"></span>
            </li>
        </ul>
        <br>
        <a href="http://localhost:8080" class="compare">Back</a>
    </form>
</div>
</body>
</html>